<a href="https://colab.research.google.com/github/sangram6/python/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

def calculateGmean(a,b):
  mean=(a*b)/(a+b)
  return mean
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
result=calculateGmean(a,b)
print(result)

enter 1st number7
enter 2nd number8
3.7333333333333334

In [16]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [17]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

Emma 26

In [18]:
print("Number Pattern ")


row = 5

for i in range(1, row + 1, 1):

    for j in range(1, i + 1):
        print(j, end=' ')

    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [20]:

def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

show_employee("sangram", 12000)
show_employee("lisha")

Name: sangram salary: 12000
Name: lisha salary: 9000

In [21]:

def outer_fun(a, b):
    square = a ** 2

    def addition(a, b):
        return a + b

    add = addition(a, b)

    return add + 5

result = outer_fun(5, 10)
print(result)

20